div {
    font-size: 11px;
}

.header__image {
    width: 500px;
    height: auto;
}

navbartop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 85, 242);
    opacity: 30;
    border-radius: 30px;
    margin: 0px 40px;
    box-sizing: border-box;
    height: 70px;
}

.navbar__span {
    font-size: 25px;
    box-sizing: content-box;
    margin: 10px 50px;
    padding: 5px;
    border-radius: 30px;
    background-color: white;
    opacity: 100%; 
    cursor: pointer;
    font-family: 'Cinzel Decorative', cursive;
    transition: 0.5s;
    
}
.navbar__span:hover {
    color: white;
    background-color: black;
    border-bottom: 1px solid rgb(255, 255, 255);
    transform: translateY(-5px);
}

main {
    display: flex;
    box-sizing: border-box;
}

.sidebar {
    margin: 20px;
    background-color: rgb(12, 85, 242);
    border-radius: 30px;
    width: 15%;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel Decorative', cursive;
    height: 100%;
}

.sidebar p {
    background-color: white;
    transition: 0.5s ;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.sidebar p:hover {
    background-color: rgb(0, 0, 0);
    padding: 10px 40px;
    color: white;
}

content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px 50px 20px 20px ;
}

content article {
    margin: 15px;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    transition: 1s;
}
content article:hover {
    transform: scale(1.06);
    background-color: rgb(12, 85, 242);

}


.article__picture {
    width: 300px;
    border-radius: 30px;
    margin: 5px;
}
article p {
    margin: 20px;
    font-size: 20px;
    font-family: 'Quicksand', cursive;
}





footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 85, 242);
    opacity: 30;
    border-radius: 30px;
    margin: 0px 200px;
    box-sizing: border-box;
    height: 70px;
}